@font-face {
    font-family: "Poppins";
    src: url(../assets/Poppins-Regular.ttf);
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #5FC3B6, #5F6FDC);
    font-family: "Poppins", "Arial";
}