@font-face {
    font-family: "Poppins";
    src: url(../assets/Poppins-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #5FC3B6, #5F6FDC);
    font-family: "Poppins", "Arial";
}

h1 {
    margin: 0;
}

.container {
    padding: 20px;
    background-color: white;
    width: 400px;
    border-radius: 5px;
    margin: auto;
}

.input {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input input {
    padding: 10px;
    width: 80%;
    outline: none;
    border: 1px solid grey;
    font-size: 16px;
}

.details {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.details button {
    background-color: #8F49EC;
    border: none;
    color: white;
    padding: 10px;
}

.input button {
    color: white;
    background-color: #8F49EC;
    padding: 10px 10px;
    border: 3px solid transparent;
}

.task {
    background-color: #F3F1F4;
    padding: 10px 10px;
    position: relative;
}

.task:hover #delete {
    display: block;
}

.task #delete {
    display: none;
    position: absolute;
    right: 49px;
    background-color: #E44938;
    top: 0;
    font-size: 20px;
    color: white;
    padding: 12px;
}

.task:hover #edit {
    display: block;
}

.task #edit {
    display: none;
    position: absolute;
    right: 0;
    background-color: #3871e4;
    top: 0;
    font-size: 20px;
    color: white;
    padding: 12px;
}